@font-face {
    font-family: 'G_FONT';
    src: url('./font/SetupGroteskTrial-Regular.otf');
}

:root {
    --huge: 2rem;
    --big: 1.4rem;
    --medium: 1rem;
    --small: 0.8rem;

    --fg: #1C1C1E;
    --fg1: #5C5C5E;

    --bg: #FFFFFF;
    --bg1: #F2F2F7;
    --bg2: #F0F0F0;

    --bgS: #bdbdbd;

    --fgL: #001F5F;

    --Gshadow: 0px 0px 15px var(--bgS);
    --Bshadow: 0 3px 6px -2px var(--bgS);

    --gold: 1.618;
}

* {
    transition: background-color .2s ease, color .2s ease, width .2s ease;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'G_FONT', sans-serif;

    margin: 0;
    padding: 0;

    background-color: var(--bg1);
}

a {
    text-decoration: unset;
    font-size: var(--medium);
    color: var(--fgL);
    padding: 8px;
}

a:hover {
    background-color: var(--bg2);
}

li {
    font-size: var(--medium);
}

p {
    font-size: var(--medium);
}

h1 {
    font-size: var(--huge);
}

h2 {
    font-size: var(--big);
}

h3 {
    font-size: var(--medium);
}

.icon {
    width: 32px;
    height: 32px;
    margin: 5px;
}

.content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 65%;
    max-width: 1080px;
    box-shadow: var(--Gshadow);
    background-color: var(--bg);
    gap: 3rem;
}

.content>* {
    padding-right: 2rem;
    padding-left: 2rem;
}

.content>section {
    background-color: var(--bg);
    box-shadow: var(--Bshadow);
}

header {
    display: flex;
    flex-direction: column;

    background-color: var(--bg);
    box-shadow: var(--Bshadow);

    padding: 2rem 2rem 0 2rem !important;
}

footer {
    padding-top: 450px;
}

header .profile {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
}

header img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

header .profile .pic {
    flex: 0 0 auto;
    max-width: 200px;
}

header .profile .desc {
    flex: 1 1 0;
    min-width: 200px;
}

header nav {
    display: flex;
    justify-content: center;
}

header nav a {
    display: flex;
    align-items: center;
    gap: 4px;
}

section h2 {
    text-indent: 2em;
}

section p {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 1rem;
}

.project-card {
    border: 1px solid #ccc;
    transition: transform 0.2s, box-shadow 0.2s;
    margin: 1rem;
}

.project-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 3px;
  display: block;
}

.project-card h3 {
    margin: 10px 0 5px;
}

.project-card p {
    margin: 0 0 10px;
}

.project-card .categories {
    font-size: 0.9em;
    color: var(--fg1);
}

.project-card.repo a {
    padding: 0;
    text-decoration: none;
    color: inherit;
    display: block;
}

.project-card.repo:hover {
    background-color: var(--bg2);
}

.resume-dropdown {
  position: relative;
  display: inline-block;
}

.resume-options {
  display: none;
  position: absolute;
  background: inherit;
  padding: 0;
  margin: 0;
}

.resume-dropdown:hover .resume-options {
  display: block;
}

#about>p {
    padding-left: 2rem;
    padding-right: 2rem;
}

#skills {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 1rem;
    padding-bottom: 1rem;
    max-width: 1200px;
    margin: auto;
}

#skills .row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    padding: 2rem;
}

#skills .row div {
    width: 100%; /* grid handles sizing */
}

#skills ul {
    padding-inline-start: 18px;
    text-align: left;
}

#skills h3 {
    text-align: left;
    font-size: var(--big);
}

#contact ul {
    display: flex;
}

@media (max-width: 750px) {
    .content {
        width: 100%;
    }
    .content>* {
        padding-right: 0;
        padding-left: 0;
    }

    header .profile {
        flex-direction: column;
        text-align: center;
    }

    header .profile .pic,
    header .profile .desc {
        padding: 0;
    }
}
